/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */
body {
    margin: 25px;
    background-color: #8ecae6;
    font-family: helvetica, arial, sans-serif;
    font-size: 20px;
}

.inputLabel {
    display: block;
}

label span {
    display: inline-block;
    text-align: left;
    width: 80px;
}

input[type=text], input[type=date] {
    padding: 4px 6px;
    border: 1px solid;
    border-radius: 4px;
}

[type="radio"] {
    width: 18px;
    height: 18px;
}

#notesLabel {
    vertical-align: top;
}

#notes {
    height: 50px;
}

@media only screen and (max-width: 600px) {
    body {
        margin: 25px 0px 25px 25px;
        background-color: red;
    }

    input[type=text], input[type=date] {
        width: 60%;
        padding: 4px 6px;
        border: 1px solid;
        border-radius: 4px;
    }

}

/* Applies to all elements with <... class="someclass"> specified. */
/* .someclass { color: red; }
  
  /* Applies to the element with <... id="someid"> specified. */
/* #someid { color: green; }